[color]
	ui = true
[commit]
	gpgsign = true
	template = /Users/ynda/.stCommitMsg
	verbose = true
[core]
	editor = nvim
	excludesfile = /Users/ynda/.gitignore_global
[gpg]
	format = ssh
[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[init]
	defaultBranch = main
[pull]
	ff = only
[rebase]
	autosquash = true
	updateRefs = true
[user]
	email = yndajas@gmail.com
	name = Ynda Jas
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICAybAdFboSceiMH16T8hX1eZ4HNVukUohmxCw6bw8RL

