[alias]
  ass = add
  figg = diff
[branch]
  sort = -committerdate
[color]
  ui = true
[commit]
  gpgsign = true
  verbose = true
[core]
  editor = nvim
  excludesfile = /Users/ynda/.gitignore_global
  pager = delta
[delta]
  features = catppuccin-latte
  file-modified-label = "modified:"
  hunk-label = "hunk"
  hyperlinks = true
  line-numbers = true
  navigate = true
[delta "catppuccin-latte"]
  blame-palette = "#eff1f5 #e6e9ef #dce0e8 #ccd0da #bcc0cc"
  commit-decoration-style = "#9ca0b0" bold ul ol
  file-decoration-style = "#9ca0b0 box"
  file-style = "#4c4f69 bold"
  hunk-header-decoration-style = "omit"
  hunk-header-file-style = "#6c6f85"
  hunk-header-line-number-style = "#6c6f85"
  hunk-header-style = file line-number syntax
  light = true
  line-numbers-left-style = "#9ca0b0"
  line-numbers-minus-style = bold "#d20f39"
  line-numbers-plus-style = bold "#40a02b"
  line-numbers-right-style = "#9ca0b0"
  line-numbers-zero-style = "#9ca0b0"
  map-styles = \
    bold purple => syntax "#cbb1f2", \
    bold blue => syntax "#a6c1f5", \
    bold cyan => syntax "#9dd7ef", \
    bold yellow => syntax "#eacfa9"
  # 35% red 65% base
  minus-emph-style = bold syntax "#e5a2b3"
  # 20% red 80% base
  minus-style = syntax "#e9c4cf"
  # 35% green 65% base
  plus-emph-style = bold syntax "#b2d5ae"
  # 20% green 80% base
  plus-style = syntax "#cce1cd"
  syntax-theme = Catppuccin Latte
[diff]
  algorithm = histogram
  colorMoved = default
  colorMovedWS = allow-indentation-change
[diff "rspec"]
  xfuncname = "^[ \t]*((RSpec|describe|context|it|before|after|around|feature|scenario)[ \t].*)$"
[fetch]
  prune = true
  pruneTags = true
  writeCommitGraph = true
[format]
  pretty = "format:%C(yellow)commit%C(auto) %H %d%nAuthor: %an <%ae>%nDate:   %ad%n%n%B"
[gpg]
  format = ssh
[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[help]
  autocorrect = prompt
[init]
  defaultBranch = main
[interactive]
  diffFilter = delta --color-only
[interactive-rebase-tool]
  inputConfirmYes = q
  selectedBackgroundColor = white
[log]
  date = "format:%a %d %b %Y %H:%M:%S"
[merge]
  conflictStyle = zdiff3
[pull]
  ff = only
[push]
  autoSetupRemote = true
[rebase]
  autosquash = true
  updateRefs = true
[sequence]
  editor = interactive-rebase-tool
[status]
  showStash = true
  showUntrackedFiles = all
  submodulesummary = true
[user]
  email = yndajas@gmail.com
  name = Ynda Jas
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICAybAdFboSceiMH16T8hX1eZ4HNVukUohmxCw6bw8RL
